{% extends 'base.html.twig' %}

{% block title %}Hello AdminPanelController!{% endblock %}

{% block content %}
    <h1>Panel sterowania</h1>
    <div>
        {{ knp_menu_render('adminPanelMenu') }}
    </div>
{% endblock %}
