{% extends 'admin_panel/index.html.twig' %}

{% block title %}{{ album.name }}{% endblock %}

{% block subcontent %}
    <div>
        <h1 style="margin-bottom: 10px">Czy na pewno chcesz usunąć album {{ album.name }}?</h1>
        <a class="btn btn-sm btn-outline-danger" href="{{ path('admin_panel_album_delete', { 'id': album.id, 'action': 'confirm' }) }}">Potwierdź</a>
        <a class="btn btn-sm btn-outline-warning" href="{{ path('albums') }}">Anuluj</a>
    </div>
{% endblock %}