{% extends 'admin_panel/index.html.twig' %}

{% block title %}{{ song.title }}{% endblock %}

{% block content %}
    <div>
        <h1 style="margin-bottom: 10px">Czy na pewno chcesz usunąć piosenkę {{ song.title }}?</h1>
        <a class="btn btn-sm btn-outline-danger" href="{{ path('admin_panel_song_delete', { 'id': song.id, 'action': 'confirm' }) }}">Potwierdź</a>
        <a class="btn btn-sm btn-outline-warning" href="{{ path('songs') }}">Anuluj</a>
    </div>
{% endblock %}