{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.admin_panel.label' | trans | capitalize }}{% endblock %}

{% block content %}
    <h1 style="margin-bottom: 10px">Panel sterowania</h1>
    <div id="admin-panel">
        {{ knp_menu_render('adminPanelMenu') }}

        {% block subcontent %}
        {% endblock %}
    </div>
{% endblock %}
