{% extends 'base.html.twig' %}

{% block title %}Hello AdminPanelController!{% endblock %}

{% block content %}
    <div>
        <h>Panel sterowania</h>
    </div>
    <div>
        <h> Dodaj utwór </h><a href="">Dodaj</a>
        <h> Dodaj album </h><a href="">Dodaj</a>
        <h> Dodaj artystę </h><a href="">Dodaj</a>
    </div>
{% endblock %}
