@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&display=swap');

body {
    background-color: lightgray;
    display: flex;
    font-family: 'Mukta', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

#navigation {
    display: flex;
    align-items: center;
    width: 100vw;
    font-size: 1.5em;
    height: 40px;
    justify-content: center;
}

#navigation > ul {
    display: flex;
    flex-direction: row;
    width: 30vw;
}

#navigation > ul > li {
    display: flex;
    width: 10vw;
    justify-content: center;
}

#navigation a {
    text-transform: uppercase;
}

#log-reg-panel {
    position: absolute;
    top: 0; right: 0;
    display: flex;
    flex-direction: column;
}