{% extends 'admin_panel/index.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block subcontent %}
    <div>
        <h1 style="margin-bottom: 10px">Czy na pewno chcesz usunąć użytkownika {{ user.username }}?</h1>
        <a class="btn btn-sm btn-outline-danger" href="{{ path('admin_panel_user_delete', { 'id': user.id, 'action': 'confirm' }) }}">Potwierdź</a>
        <a class="btn btn-sm btn-outline-warning" href="{{ path('admin_panel_user_list') }}">Anuluj</a>
    </div>
{% endblock %}